Lower Triangular Pattern

In [5]:
l=int(input("Enter the number of rows for lower triangular pattern:"))
for i in range(1,l+1):
  print("*"*i)

Enter the number of rows for lower triangular pattern:5
*
**
***
****
*****

Upper Triangular Pattern

In [6]:
u=int(input("Enter the number of rows for upper triangular pattern:"))
for i in range(u,0,-1):
  print(" "*(u-i)+"*"*i)

Enter the number of rows for upper triangular pattern:6
******
 *****
  ****
   ***
    **
     *

Pyramid Pattern

In [7]:
p=int(input("Enter the number of rows for pyramid pattern:"))
for i in range(1, p + 1):
    print(" " * (p - i) + "*" * (2 * i - 1))

Enter the number of rows for pyramid pattern:7
      *
     ***
    *****
   *******
  *********
 ***********
*************